/* Variables */
@basic: rgb(60, 60, 60);
@blue: #3FB4FF;
@green: #009245;
@red: #D41440;
@orange: #F1861E;

@link: rgb(44, 135, 173);
@bgOverlay: rgba(60, 60, 60, .1);

/* Mixins */
.clearfix {
	*zoom: 1;
	display: block;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

.gradient (@startColor: #eee, @endColor: white) {
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.box-shadow(@args) {
	box-shadow: @args;
	-webkit-box-shadow: @args;
}

.box-sizing(@args) {
	box-sizing: @args;
	-moz-box-sizing: @args;
	-webkit-box-sizing: @args;
}

.user-select(@args) {
	user-select: @args;
	-moz-user-select: @args;
	-ms-user-select: @args;
	-webkit-user-select: @args;
}

.transform(@args) {
	transform: @args;
	-moz-transform: @args;
	-o-transform: @args;
	-ms-transform: @args;
	-webkit-transform: @args;
}

.transition(@args) {
	transition: @args;
	-moz-transition: @args;
	-webkit-transition: @args;
}

.quote {
	font-style: italic;

	&:before {
		content: "«";
	}
	&:after {
		content: "»";
	}
}

.button(@color) {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid darken(@color, 3);
	background-color: @color;
	border-radius: 3px;
	color: white;

	&:hover {
		text-decoration: none;
	}
}

/* Styles */

body {
	background-image: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: @basic;
	line-height: 1.5;

}

.sheet {
	.box-sizing(border-box);
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 25px;
}

#main {
	min-height: 560px;
}

a {
	text-decoration: none;
	color: @link;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	text-align: center;
	font-size: 70px;
	font-weight: 300;
	color: @basic;

	@media (max-width: 600px) {
		font-size: 50px;
	}

}

h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	color: @basic;
	margin-bottom: 5px;

	strong {
		font-weight: 700;
		text-transform: uppercase;
	}
}

h3 {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 26px;
	font-family: 'Bad Script', cursive;
	border-bottom: 1px solid fadeout(@basic, 70);
	color: @basic;
}

h4 {
	margin: 20px 0 10px 0;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

h5 {
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

button, input[type=submit] {
	.button(@orange);
	cursor: pointer;
	font-size: 14px;
}

input[type=text] {
	.box-sizing(border-box);
	height: 30px;
	padding: 0 5px;
	border: 1px solid fadeout(@basic, 70);
	border-radius: 3px;
	font-size: 14px;

	&:focus {
		border-color: @blue;
		outline: none;
	}
}

::-webkit-input-placeholder {
	color: fadeout(@basic, 60);
}

:-moz-placeholder {
	color: fadeout(@basic, 60);
}

:-ms-input-placeholder {
	color: fadeout(@basic, 60);
}

#searchform {
	float: right;
	margin: 10px 0;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}

mark {
	background-color: fadeout(@orange, 90);
	padding: 0 3px;
}

.logo {
	display: block;
	color: @basic;
	white-space: nowrap;

	&:hover {
		text-decoration: none;

		.sign .ball {
			background-color: @blue;

		}
	}

	.sign {
		display: inline-block;
		width: 24px;
		height: 24px;
		padding: 3px;
		vertical-align: top;

		.ball {
			width: 7px;
			height: 7px;
			border-radius: 8px;
			background-color: @basic;

			.page-home & {
				background-color: @blue;
			}

			float: left;
			margin: 0 1px 1px 0;

			&.t1 {
				.transition(background-color .5s);
			}
			&.t2 {
				.transition(background-color .4s);
			}
			&.t3 {
				.transition(background-color .1s);
			}
			&.m1 {
				.transition(background-color .9s);
			}
			&.m2 {
				.transition(background-color .5s);
			}
			&.m3 {
				.transition(background-color .7s);
			}
			&.b1 {
				.transition(background-color 1s);
			}
			&.b2 {
				.transition(background-color .2s);
			}
			&.b3 {
				.transition(background-color .6s);
			}
		}
	}

	.text {
		display: inline-block;
		line-height: 1;

		span:first-child {
			font-weight: 800;
			font-size: 20px;
			margin-right: 2px;
		}
		span:last-child {
			font-weight: 400;
			font-size: 27px;
		}
	}
}

header {
	background-color: @bgOverlay;
	position: relative;
	z-index: 1;
	padding: 5px 0 3px 0;
	border-bottom: 1px solid fadeout(@basic, 90);

	.sheet {
		box-shadow: none;

		@media (max-width: 700px) {
			text-align: center;

			.logo .sign {
				display: block;
				margin: 6px auto 0 auto;

				width: 42px;
				height: 42px;
				padding: 3px;
				vertical-align: top;

				.ball {
					width: 12px;
					height: 12px;
					border-radius: 8px;
					background-color: @blue;
					float: left;
					margin: 0 2px 2px 0;
				}
			}

			nav#access ul li a {
				font-weight: 600;
			}
		}

	nav#access {
		ul {
			position: absolute;
			right: 15px;
			top: 3px;

			@media (max-width: 700px) {
				position: static;
				margin-top: 15px;
			}

		li {
			display: inline-block;

			a {
				text-transform: uppercase;
				font-size: 18px;
				margin: 0 10px;
				padding: 0 4px;
				font-weight: 300;
				color: @basic;
				padding-bottom: 6px;
				border-bottom-style: solid;
			}
			&:nth-child(1) a {
				border-bottom-color: @blue;
			}
			&:nth-child(2) a {
				border-bottom-color: @green;
			}
			&:nth-child(3) a {
				border-bottom-color: @red;
			}
			&:nth-child(4) a {
				border-bottom-color: @orange;
			}

			&.current-menu-item a, &.current_page_parent a, a:hover {
				border-bottom-width: 4px;
				text-decoration: none;

				@media (max-width: 400px) {
					border: 0;
					font-weight: bold;
				}
			}

		}
	}
}

	}

	}

.headerImage {
//	margin-top: 25px;
	text-align: center;
//	background-color: @bgOverlay;
//	background-color: @basic;
	background-color: black;
	line-height: 0;

	.imgWrapper {
		position: relative;
		width: 960px;
		margin: 0 auto;


		.smoothDevide {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			.horizontal-gradient(black, rgba(0, 0, 0, 0));

			&.right {
				left: auto;
				right: 0;
				.horizontal-gradient(rgba(0, 0, 0, 0), black);
			}
			&.top {
				left: 0;
				right: 0;
				width: auto;
				height: 20px;
				.gradient(black, rgba(0, 0, 0, 0));
			}
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

article {
	margin-top: 70px;
	position: relative;

	&.home {
		margin: 45px 0 170px 0;

		h3 {
			border: 0;
			padding: 0;
			font-size: 32px;
			margin-top: 10px;

			@media (max-width: 600px) {
				font-size: 25px;
			}
		}
	}

	&.noResults {
		text-align: center;

		#searchform {
			float: none;
			text-align: center;
		}
	}

	&.single {
		margin-top: 30px;
	}

	&.static {
		h4 {
			text-align: left;
		}

		h5 {
			text-align: left;
			margin: 20px 0 2px;
			color: @red;

		}
		ul {
			list-style: disc;
			margin: 10px 0;
			padding-left: 25px;

			li {
				margin-bottom: 10px;
			}
		}

		.illustration {
			margin: 0 auto;
			max-width: 100%;
			background-size: 100%;
			background-position: top center;
			background-repeat: no-repeat;
			width: 260px;

			-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.1)));
		}

		&.team {

			ul {
				padding: 0;
			}

			.columns li {
				text-align: center;
				padding: 0;

				h4 {
					text-align: center;
					font-weight: 400;
				}

				a {
					display: block;
					padding: 20px;
					border-bottom-style: solid;
					border-bottom-width: 2px;
					border-bottom-color:@bgOverlay;
					color: @basic;

					&:hover {
						text-decoration: none;
					}
				}

				&.active:nth-child(1) a, &:nth-child(1) a:hover {
					border-bottom-color: @blue;
				}
				&.active:nth-child(2) a, &:nth-child(2) a:hover {
					border-bottom-color: @green;
				}
				&.active:nth-child(3) a, &:nth-child(3) a:hover {
					border-bottom-color: @red;
				}
				&.active:nth-child(4) a, &:nth-child(4) a:hover {
					border-bottom-color: @orange;
				}
			}

			.development {
//				display: none;
			}
		}

		&.benefits {
			.illustration {
				height: 384px;
				background-image: url("../img/cm_benefits.png");
			}
		}

		&.career {
			.apply {
				.button(@blue);
				margin-top: 15px;
			}
		}

		&.mission {
			.illustration {
				background-image: url("../img/cm_mission.svg");
				height: 172px;

				&.monkey {
					width: 75px;
					height: 57px;
					position: absolute;
					right: 10px;
					bottom: 0;
					background-image: url("../img/cm_monkey.png");

					@media (max-width: 700px) {
						display: none;
					}
				}
			}
		}

		&.statistic {
			.illustration {
				background-image: url("../img/cm_stats.svg");
				height: 210px;
			}
		}

		&.framework {
			.illustration {
				background-image: url("../img/cm_framework.svg");
				height: 178px;
			}
		}

		&.factory {
			.illustration {
				background-image: url("../img/cm_factory.svg");
				height: 178px;
			}
		}

		&.about {
			.pictogram {
				position: relative;
				background-size: 90%;

				.count {
					position: absolute;
					width: 46px;
					height: 46px;
					bottom: -10px;
					right: -10px;
					text-align: center;
					border-radius: 23px;
					font-weight: 600;
					line-height: 46px;
					color: white;
					text-shadow: 1px 1px @basic;

					&.c1 {
						background-color: @blue;
					}
					&.c2 {
						background-color: @green;
					}
					&.c3 {
						background-color: @red;
					}
					&.c4 {
						background-color: @orange;
					}
				}

			}
		}

	}
}

.columns {
	.clearfix;

	&.two > * {
		width: 50%;

		@media (max-width: 800px) {
			width: 100%;
		}

		&.fixed {
			width: 260px;
			padding: 20px 0;

			@media (max-width: 700px) {
				width: 130px;
			}

			&.right {
				float: right;
			}

			&.left {
				float: left;
			}
			&.right, &.left {

				@media (max-width: 450px) {
					float: none;
					width: auto;
				}
			}
		}
		&.flex {
			width: auto;
			float: none;
			text-align: justify;

			&.right{
				margin-left: 260px;

				@media (max-width: 700px) {
					margin-left: 130px;
				}
				@media (max-width: 450px) {
					margin: 0;
					padding: 0;
				}
			}
			&.left{
				margin-right: 260px;

				@media (max-width: 700px) {
					margin-right: 130px;
				}
				@media (max-width: 450px) {
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	&.three > * {
		width: 33.3%;

		@media (max-width: 650px) {
			width: 100%;
		}
	}

	&.four > * {
		width: 25%;
	}

	> * {
		.box-sizing(border-box);
		float: left;
		display: block;
		padding: 20px;

		&.box {
			text-align: center;

			&.blue {
				border-top: 4px solid @blue;
			}
			&.green {
				border-top: 4px solid @green;
			}
			&.red {
				border-top: 4px solid @red;
			}
			&.orange {
				border-top: 4px solid @orange;
			}

			.thumb {
				width: 90px;
				height: 90px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				float: left;
				-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.1)));

				@media (min-width: 601px) and (max-width: 800px) {
					float: none;
					width: auto;
				}

				@media (min-width: 0) and (max-width: 400px) {
					float: none;
					width: auto;
				}

				&.bat {
					background-image: url(../img/animal/bat.png);
				}
				&.cat {
					background-image: url(../img/animal/cat.png);
				}
				&.owl {
					background-image: url(../img/animal/owl.png);
				}
				&.panda {
					background-image: url(../img/animal/panda.png);
				}
			}
			.content {
				margin-left: 105px;

				@media (min-width: 601px) and (max-width: 800px) {
					margin: 0;
				}

				@media (min-width: 0) and (max-width: 400px) {
					margin: 0;
				}

				> * {
					text-align: left;
				}

				h2 {
					font-size: 26px;
					font-weight: 600;
				}
				h3 {
					font-size: 18px;
					padding: 0;
					border: 0;
					margin-bottom: 5px;
				}
				p {
					font-size: 14px;
					text-align: justify;
				}
			}
		}
	}
}

.post {
	margin-top: 40px;

	.sheet {
		border-bottom: 1px solid fadeout(@basic, 90);
		padding-bottom: 10px;
	}

	.post-thumb {
		float: left;

		@media (max-width: 600px) {
			display: none;
		}
	}
	.post-entry {
		margin-left: 160px;

		@media (max-width: 600px) {
			margin: 0;
		}
	}

	h1 {
		text-align: left;
		font-size: 28px;
		font-weight: 400;

		a {
			color: @basic;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	img {
		.box-sizing(border-box);
		padding: 5px;
		border: 1px solid fadeout(@basic, 90);
		background-color: rgb(254, 254, 254);
	}

	.entry-meta {
		font-size: 14px;
		margin-bottom: 15px;

		// Don't show Categories & Tags for now
		.category, .tag {
			display: none;
		}
	}

	.entry-content {
		margin-bottom: 40px;

		h2 {
			text-align: left;
			font-size: 20px;
			margin-top: 35px;
			font-weight: 700;
		}

		h3 {
			font-family: 'Open Sans', sans-serif;
			margin: 25px 0 0 0;
			font-size: 18px;
			font-weight: 600;
			text-align: left;
			padding: 0;
			border: 0;
		}
		h4 {
			text-align: left;
			font-size: 15px;
			text-transform: uppercase;
			margin: 10px 0 0 0;
			font-weight: 600;
		}

		code {
			display: block;
			margin: 10px 0;
			padding: 5px 10px;
			background-color: fadeout(@blue, 90);
			border: 1px dashed fadeout(@blue, 70);
			font-family: monospace;
			font-size: 13px;
		}

		img {
			margin: 10px 0;
		}

		ul, ol {
			list-style: disc;
			margin: 10px 0;
			padding-left: 25px;
		}
		ol {
			list-style: decimal;
		}
	}

	.entry-excerpt {
		margin: 10px 0;

		.post-link {
			margin-top: 10px;
			text-align: right;

			a {
				.button(@blue);
			}
		}
	}

}

.blogHeader {
	margin-top: 60px;
	h3 {
		margin-bottom: 0;
	}
}

.author-info {
	text-align: center;
}

.pagination {
	text-align: left;
	a {
		.button(@orange);
		margin-top: 15px;
	}
}

.pictogram {
	display: inline-block;
	width: 100px;
	height: 100px;
	max-width: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	&.android {
		background-image: url(../img/pictogram/pic_android.svg);
	}
	&.bike {
		background-image: url(../img/pictogram/pic_bike.svg);
	}
	&.build {
		background-image: url(../img/pictogram/pic_build.svg);
	}
	&.car {
		background-image: url(../img/pictogram/pic_car.svg);
	}
	&.coffee {
		background-image: url(../img/pictogram/pic_coffee.svg);
	}
	&.debian {
		background-image: url(../img/pictogram/pic_debian.svg);
	}
	&.design {
		background-image: url(../img/pictogram/pic_design.svg);
	}
	&.development {
		background-image: url(../img/pictogram/pic_development.svg);
	}
	&.finance {
		background-image: url(../img/pictogram/pic_finance.svg);
	}
	&.heart {
		background-image: url(../img/pictogram/pic_heart.svg);
	}
	&.ios {
		background-image: url(../img/pictogram/pic_ios.svg);
	}
	&.launch {
		background-image: url(../img/pictogram/pic_launch.svg);
	}
	&.linux {
		background-image: url(../img/pictogram/pic_linux.svg);
	}
	&.mac {
		background-image: url(../img/pictogram/pic_mac.svg);
	}
	&.marketing {
		background-image: url(../img/pictogram/pic_marketing.svg);
	}
	&.organisation {
		background-image: url(../img/pictogram/pic_organisation.svg);
	}
	&.symbian {
		background-image: url(../img/pictogram/pic_symbian.svg);
	}
	&.test {
		background-image: url(../img/pictogram/pic_test.svg);
	}
	&.tram {
		background-image: url(../img/pictogram/pic_tram.svg);
	}
	&.ubuntu {
		background-image: url(../img/pictogram/pic_ubuntu.svg);
	}
	&.walk {
		background-image: url(../img/pictogram/pic_walk.svg);
	}
	&.windows {
		background-image: url(../img/pictogram/pic_windows.svg);
	}
	&.windowsphone {
		background-image: url(../img/pictogram/pic_windowsphone.svg);
	}
}

footer {
	background-color: @bgOverlay;
	border-top: 1px solid fadeout(@basic, 80);
	padding-top: 10px;
	margin-top: 100px;
	font-size: 14px;

	.columns {
		margin: 0;

		> * {
			padding: 8px 5px;
		}
	}

	.logo {
		margin-bottom: 15px;

		.page-home & .sign .ball {
			background-color: @basic;
		}
	}

	.socialConnect {

		li {
			margin-bottom: 10px;

			a {
				color: @basic;

				.icon {
					display: inline-block;
					margin: 0 5px;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-color: @bgOverlay;
					vertical-align: middle;
				}

				.label {
					position: relative;
					top: 1px;
				}

				&:hover .icon {
					background-size: 85%;
				}

				&.google .icon {
					background-image: url("../img/icon/social_Google.svg");
				}
				&.facebook .icon {
					background-image: url("../img/icon/social_Facebook.svg");
				}
				&.twitter .icon {
					background-image: url("../img/icon/social_Twitter.svg");
				}
				&.github .icon {
					background-image: url("../img/icon/social_GitHub.svg");
				}
				&.mail .icon {
					background-image: url("../img/icon/social_Mail.svg");
				}
			}
		}
	}

	.map {

		img {
			border: 1px solid fadeout(@basic, 80);
		}
		&:hover img {
			border: 1px solid fadeout(@basic, 70);
			box-shadow: 0 0 5px fadeout(@basic, 90);
		}
	}
	.footerBar {
		margin-top: 10px;
		padding: 6px 0;
		background-color: @bgOverlay;
		border: 1px solid fadeout(@basic, 80);
		border-width: 0 1px;

		.copyright {
			color: lighten(@basic, 30);
			text-align: right;
			font-size: 12px;
		}
	}

}

