/* Variables */
@basic: rgb(60, 60, 60);
@blue: #3FB4FF;
@green: #009245;
@red: #D41440;
@orange: #F1861E;

@link: rgb(44, 135, 173);
@bgOverlay: rgba(60, 60, 60, .1);

/* Mixins */
.clearfix {
	*zoom: 1;
	display: block;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

.box-shadow(@args) {
	box-shadow: @args;
	-webkit-box-shadow: @args;
}

.box-sizing(@args) {
	box-sizing: @args;
	-moz-box-sizing: @args;
	-webkit-box-sizing: @args;
}

.user-select(@args) {
	user-select: @args;
	-moz-user-select: @args;
	-ms-user-select: @args;
	-webkit-user-select: @args;
}

.transform(@args) {
	transform: @args;
	-moz-transform: @args;
	-o-transform: @args;
	-ms-transform: @args;
	-webkit-transform: @args;
}

.transition(@args) {
	transition: @args;
	-moz-transition: @args;
	-webkit-transition: @args;
}

.quote {
	font-style: italic;

	&:before {
		content: "«";
	}
	&:after {
		content: "»";
	}
}

.button(@color) {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid darken(@color, 3);
	background-color: @color;
	border-radius: 3px;
	color: white;

	&:hover {
		text-decoration: none;
	}
}

/* Styles */

body {
	background-image: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: @basic;
	line-height: 1.5;

}

.sheet {
	.box-sizing(border-box);
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 25px;
}

#main {
	min-height: 560px;
}

a {
	text-decoration: none;
	color: @link;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	text-align: center;
	font-size: 70px;
	font-weight: 300;
	color: @basic;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	color: @basic;
	margin-bottom: 5px;

	strong {
		font-weight: 700;
		text-transform: uppercase;
	}
}

h3 {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 26px;
	font-family: 'Bad Script', cursive;
	border-bottom: 1px solid fadeout(@basic, 70);
	color: @basic;
}

h4 {
	margin: 20px 0 10px 0;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

h5 {
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

button, input[type=submit] {
	.button(@orange);
	cursor: pointer;
	font-size: 14px;
}

input[type=text] {
	.box-sizing(border-box);
	height: 30px;
	padding: 0 5px;
	border: 1px solid fadeout(@basic, 70);
	border-radius: 3px;
	font-size: 14px;

	&:focus {
		border-color: @blue;
		outline: none;
	}
}

::-webkit-input-placeholder {
	color: fadeout(@basic, 60);
}

:-moz-placeholder {
	color: fadeout(@basic, 60);
}

:-ms-input-placeholder {
	color: fadeout(@basic, 60);
}

#searchform {
	float: right;
	margin-top: 10px;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}

mark {
	background-color: fadeout(@orange, 90);
	padding: 0 3px;
}

.logo {
	display: block;
	color: @basic;
	white-space: nowrap;

	&:hover {
		text-decoration: none;

		.sign .ball {
			background-color: @blue;

		}
	}

	.sign {
		display: inline-block;
		width: 24px;
		height: 24px;
		padding: 3px;
		vertical-align: top;

		.ball {
			width: 7px;
			height: 7px;
			border-radius: 8px;
			background-color: @basic;
			float: left;
			margin: 0 1px 1px 0;

			&.t1 {
				.transition(background-color .5s);
			}
			&.t2 {
				.transition(background-color .4s);
			}
			&.t3 {
				.transition(background-color .1s);
			}
			&.m1 {
				.transition(background-color .9s);
			}
			&.m2 {
				.transition(background-color .5s);
			}
			&.m3 {
				.transition(background-color .7s);
			}
			&.b1 {
				.transition(background-color 1s);
			}
			&.b2 {
				.transition(background-color .2s);
			}
			&.b3 {
				.transition(background-color .6s);
			}
		}
	}

	.text {
		display: inline-block;
		line-height: 1;

		span:first-child {
			font-weight: 800;
			font-size: 20px;
			margin-right: 2px;
		}
		span:last-child {
			font-weight: 400;
			font-size: 27px;
		}
	}
}

header {
	background-color: @bgOverlay;
	position: relative;
	padding: 5px 0 3px 0;
	border-bottom: 1px solid fadeout(@basic, 90);

	.sheet {
		box-shadow: none;

		@media (max-width: 700px) {
			text-align: center;

			.logo .sign {
				display: block;
				margin: 6px auto;

				width: 42px;
				height: 42px;
				padding: 3px;
				vertical-align: top;

				.ball {
					width: 12px;
					height: 12px;
					border-radius: 8px;
					background-color: @blue;
					float: left;
					margin: 0 2px 2px 0;
				}
			}
		}

	nav#access {
		ul {
			position: absolute;
			right: 0;
			top: 3px;

			@media (max-width: 700px) {
				position: static;
				margin-top: 15px;
			}

		li {
			display: inline-block;

			a {
				text-transform: uppercase;
				font-size: 18px;
				margin: 0 10px;
				padding: 0 4px;
				font-weight: 300;
				color: @basic;
				padding-bottom: 6px;
				border-bottom-style: solid;
			}
			&:nth-child(1) a {
				border-bottom-color: @blue;
			}
			&:nth-child(2) a {
				border-bottom-color: @green;
			}
			&:nth-child(3) a {
				border-bottom-color: @red;
			}
			&:nth-child(4) a {
				border-bottom-color: @orange;
			}

			&.current-menu-item a, a:hover {
				border-bottom-width: 4px;
				text-decoration: none;

				@media (max-width: 340px) {
					border: 0;
					font-weight: bold;
				}
			}

		}
	}
}

	}

	}

article {
	margin-top: 115px;
	position: relative;

	&.home {
		margin: 170px 0;

		h3 {
			border: 0;
			padding: 0;
		}
	}

	&.noResults {
		text-align: center;

		#searchform {
			float: none;
			text-align: center;
		}
	}

	&.single {
		margin-top: 30px;
	}

	&.static {
		h4 {
			text-align: left;
		}

		h5 {
			text-align: left;
			margin: 20px 0 2px;
			color: @red;

		}
		ul {
			list-style: disc;
			margin: 10px 0;

			li {
				margin-bottom: 10px;
			}
		}

		.illustration {
			margin: 0 auto;
			max-width: 100%;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			width: 415px;
		}

		&.career {
			.technologies {
				margin: 0;
				list-style-type: none;

				li a {
					display: inline;
				}

			}
		}

		&.benefits {
			.illustration {
				height: 384px;
				background-image: url("../img/cm_benefits.png");
			}
		}

		&.application {
			.apply {
				.button(@blue);
				margin-top: 15px;
			}
		}

		&.mission {
			.illustration {
				background-image: url("../img/cm_mission.svg");
				height: 310px;

				&.monkey {
					width: 75px;
					height: 57px;
					position: absolute;
					right: 10px;
					bottom: 0;
					background-image: url("../img/cm_monkey.png");
				}
			}
		}

		&.statistic {
			.illustration {
				background-image: url("../img/cm_stats.svg");
				height: 336px;
			}
		}

		&.technology {
			.illustration {
				background-image: url("../img/cm_technology.png");
				height: 336px;
			}
		}




	}
}

.columns {
	.clearfix;
	margin: 40px 0;

	&.two > * {
		width: 50%;

		@media (max-width: 600px) {
			width: 100%;
		}
	}

	&.three > * {
		width: 33.3%;

		@media (max-width: 650px) {
			width: 100%;
		}
	}

	&.four > * {
		width: 25%;
	}

	> * {
		.box-sizing(border-box);
		float: left;
		display: block;
		padding: 20px;

		&.box {
			text-align: center;

			&.blue {
				border-top: 4px solid @blue;
			}
			&.green {
				border-top: 4px solid @green;
			}
			&.red {
				border-top: 4px solid @red;
			}
			&.orange {
				border-top: 4px solid @orange;
			}
		}
	}
}

.post {
	margin-top: 40px;

	.sheet {
		border-bottom: 1px solid fadeout(@basic, 90);
		padding-bottom: 30px;
	}

	h1 {
		text-align: left;
		font-size: 28px;
		font-weight: 400;

		a {
			color: @basic;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.entry-meta {
		font-size: 14px;
		margin-bottom: 25px;
	}

	.entry-content {
		margin-bottom: 40px;

		h2 {
			text-align: left;
			font-size: 20px;
			margin-top: 35px;
			font-weight: 700;
		}

		h3 {
			font-family: 'Open Sans', sans-serif;
			margin: 25px 0 0 0;
			font-size: 18px;
			font-weight: 600;
			text-align: left;
			padding: 0;
			border: 0;
		}
		h4 {
			text-align: left;
			font-size: 15px;
			text-transform: uppercase;
			margin: 10px 0 0 0;
			font-weight: 600;
		}

		code {
			display: block;
			margin: 10px 0;
			padding: 5px 10px;
			background-color: fadeout(@blue, 90);
			border: 1px dashed fadeout(@blue, 70);
			font-family: monospace;
			font-size: 13px;
		}

		img {
			margin: 10px 0;
		}

		ul, ol {
			list-style: disc;
			margin: 10px 0;
			padding-left: 25px;
		}
		ol {
			list-style: decimal;
		}
	}

	.entry-summary {
		margin: 10px 0;

		a {
			.button(@blue);
			margin-top: 15px;
		}
	}
}

.blogHeader {
	margin-top: 60px;
	h3 {
		margin-bottom: 0;
	}
}

.author-info {
	text-align: center;
}

#nav-single {
	span a {
		.button (@blue);
		margin-top: 15px;
	}
}

.pagination {
	text-align: right;
	a {
		.button(@orange);
		margin-top: 15px;
	}
}

.pictogram {
	display: inline-block;
	width: 100px;
	height: 100px;
	max-width: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	&.design {
		background-image: url(../img/pictogram/design.svg);
	}
	&.build {
		background-image: url(../img/pictogram/build.svg);
	}
	&.test {
		background-image: url(../img/pictogram/test.svg);
	}
	&.launch {
		background-image: url(../img/pictogram/launch.svg);
	}
}

footer {
	background-color: @bgOverlay;
	border-top: 1px solid fadeout(@basic, 80);
	padding-top: 10px;
	margin-top: 100px;
	font-size: 14px;

	.columns {
		margin: 0;

		> * {
			padding: 8px 5px;
		}
	}

	.logo {
		margin-bottom: 15px;
	}

	.socialConnect {

		li {
			margin-bottom: 10px;

			a {
				color: @basic;

				.icon {
					display: inline-block;
					margin: 0 5px;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-color: @bgOverlay;
					vertical-align: middle;
				}

				.label {
					position: relative;
					top: 1px;
				}

				&:hover .icon {
					background-size: 85%;
				}

				&.google .icon {
					background-image: url("../img/icon/social_Google.svg");
				}
				&.facebook .icon {
					background-image: url("../img/icon/social_Facebook.svg");
				}
				&.twitter .icon {
					background-image: url("../img/icon/social_Twitter.svg");
				}
				&.github .icon {
					background-image: url("../img/icon/social_GitHub.svg");
				}
				&.mail .icon {
					background-image: url("../img/icon/social_Mail.svg");
				}
			}
		}
	}

	.map {

		img {
			border: 1px solid fadeout(@basic, 80);
		}
		&:hover img {
			border: 1px solid fadeout(@basic, 70);
			box-shadow: 0 0 5px fadeout(@basic, 90);
		}
	}
	.footerBar {
		margin-top: 10px;
		padding: 6px 0;
		background-color: @bgOverlay;
		border: 1px solid fadeout(@basic, 80);
		border-width: 0 1px;

		.copyright {
			color: lighten(@basic, 30);
			text-align: right;
			font-size: 12px;
		}
	}

}

